#Chart action
COIN_GEKO_API="Your_api_key"

#LLM
OPENROUTER_API="Your_api_key"
DEEPSEEK_API="Your_api_key"
GEMINI_API_KEY="Your_api_key"

#Web search
TINYFISH_API_KEY="Your_api_key"

#Testing
NVIDIA_API_KEY="Your_api_key"